.header {
    grid-area: header;
    
  }
  
  .header img {
    width: 100px;
    background-color: green;
  }

  .loginBlock {
    float: right;
    border: 1px solid black;
    padding: 0px 2px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    
  }

  .link {
    text-decoration: none;
    color: white;
  }

  .link:hover { 
    color: silver;
  }

  .logout {
    margin-left: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
  }
 